/* Frontend/static/css/solutions.css */

.solutions-page .bg-dark-green {
    background-color: #012d18;
}

.solutions-page .text-gold {
    color: #DAA520;
}

.solutions-page .bg-gold {
    background-color: #DAA520;
}

.solutions-page .font-poppins {
    font-family: 'Poppins', sans-serif;
}

.solutions-page .font-lora {
    font-family: 'Lora', serif;
}

.solutions-page .font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.solutions-page .bg-gradient-text {
    background-image: linear-gradient(to right, #DAA520, #F5F5DC);
}