
# Environments
.env
*.env.*
!/.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Databases
*.db
*.sqlite3

# Logs
*.log

# Node
node_modules/

# Instance folder
instance/

# Uploads
Frontend/static/uploads/

# VSCode
.vscode/
